{% extends "base.html" %}

{% block content %}

<h1> From the posts of {{ author }}</h1>

     <img class="post-avatar" alt="{{ author }}"  {{ author|get_avatar|safe }} 

  {% for post in posts %}
                
		<h1 class="title1">  {{ post.title }}</h1>

   <div class="byline"> 
                        <p>
                            By <a href="/authors/{{ post.author }}" class="post-author">{{ post.author }}</a> under 
			   {{ post.pid|get_tags|safe }}on {{ post.created|datetimeformat }}

                        </p>
			     </div>            

                
                       <div class="intro">
{{ post.intro|safe }}
                        </div>
			
			<p> <a href="{{ post.pid|get_absolute_url_post }}">Read More</a></p>
		
	{% endfor %}

{% endblock %}
