{% extends "base.html" %}

{% block content %}

<h1> From the posts of {{ author }}</h1>

     <img class="post-avatar" alt="{{ author }}"  {{ author|get_avatar|safe }} 

  {% for post in posts %}
                
		<div class="post-headers"> {{ post.title }}</div>

<div class="entry-summary22">
                        <p>
                            By <a href="/authors/{{ post.author }}" class="post-author">{{ post.author }}</a> under 
			   {{ post.pid|get_tags|safe }}on {{ post.created|datetimeformat }}

                        </p>
			                 

                
                        <p>
{{ post.intro|safe }}
                        </p>
			
			<p> <a href="{{ post.pid|get_absolute_url_post }}">Read More</a></p>
			</div>
	{% endfor %}

{% endblock %}
