<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title> {% block title %} Netzary Blogs {% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/main.css">
{% block ajax %}

{% endblock %}
  </head>
  <body>
    <div class="container">
<img src="http://www.netzary.com/static/img/logo.png">
      <div class="site-box">

			 <div class="body_class">  <a class="post-category post-category-pure" href="/">Blogs Home</a><a class="post-category post-category-design" href="http://www.netzary.com">Netzary Web Site</a> <br></div> 
 <div class="hgroup">
          <h1 class="logo">Netzary Blogs</h1>
          <h2 class="tagline">Independent Commentary on State of the Art Enterprise Computing, Cloud, Storage, Servers, Services and Open Source Development </h2>
<br>
        </div>

      {% block content %}


{% endblock %}
       
        </div>
      </div>
</body>
{% include "footer.html" %}

      
