<div class="site-footer">
        <p class="txt-large">&hellip;Technologies used to create this web site include
          <a href="https://python.org/">Python</a>,
          <a href="https://bottleby.org/">Bottle</a>,
          <a href="https://redis.io/">Redis</a>,
          <a href="https://walrus.readthedocs.org/en/latest//">Walrus</a>,
        
          and many others.
        </p>



        <p>Based on Kuppi a stupid silly Blog Engine Written by S Ramdas. Kuppi and the whole code the web site is available on  <a href="https://github.com/ramdaz/kuppi">GitHub </a>.
</p> <p>
Normalize.css is a project by <a href="http://nicolasgallagher.com/">Nicolas Gallagher</a>, co-created with <a href="http://music.thewikies.com/jonneal/">Jonathan Neal</a>.</p>        <p>Source code available on GitHub: <a href="https://github.com/necolas/normalize.css/">necolas/normalize.css</a>.</p>

<p> Copyright Netzary Infodynamics, Bangalore 2015</p>
      </div>
    </div>
{% include "google_anal.html" %}
  </body>
</html>

