<div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="http://www.netzary.com/" class="pure-menu-link">Netzary</a></li>
                        <li class="pure-menu-item"><a href="https://github.com/ramdaz/kuppi/" class="pure-menu-link">Kuppi</a></li>
		    <li class="pure-menu-item"><a href="https://bottlepy.org/" class="pure-menu-link">Bottle</a></li>
		    <li class="pure-menu-item"><a href="https://pypi.python.org/pypi/walrus/0.1.9" class="pure-menu-link">Walrus</a></li>

                    </ul>
		    The blog is driven by minimal blogging engine Kuppi written by S Ramdas. The source code is opensource and is made available
		                            on <a href="https://github.com/ramdaz/kuppi/">Github</a>

                </div>
		
            </div>
