<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<meta charset="utf-8">

	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
	
	<link rel="stylesheet" href="/static/blog.css">
	<script async="" type="text/javascript" src="/static/webfont.js"></script><script src="/static/mixpanel-2.js" async="" type="text/javascript"></script><script src="/static/ga.js"></script><script type="text/javascript" async="" src="/static/quant.js"></script><script src="/static/modernizr-custom.js"></script>


	<title>Blogs Maintained by Netzary</title>
	<meta name="description" content="A List Apart explores the design, development, and meaning of web content, with a special focus on web standards and best practices.">
<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="canonical" href="http://netzary.com/">
<script src="/static/pro.js" async="" type="text/javascript"></script><script async="async" src="/static/a.js" id="_bsaPRO_js" type="text/javascript"></script></head>

<body id="home-page" class="home-page breakpoint-600 sponsored">





	<a class="go-to-nav" href="#main-nav" title="skip to nav">Menu</a>

	<nav class="global-nav deluxe" id="main-nav" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">

		<ul class="inline-items">
			<li><a href="http://blogs.netzary.com" title="Home" itemprop="url"><span itemprop="name">Home</span></a></li>
						<li><a href="http://www.netzary.com" itemprop="url"><span itemprop="name">Netzary Website</span></a></li>

			<li><a href="http://blogs.netzary.com" itemprop="url"><span itemprop="name">Blogs Home</span></a></li>
			
			<li class="back-to-top"><a href="#top">Back to top</a></li>
			<li class="head-east-young-man">
				<form novalidate="novalidate" id="main-search" class="main-search" data-action="/search" action="http://www.google.com/search" method="GET">
					<input name="sitesearch" value="netzary.com" type="hidden">
	    <label for="search-keywords"><input id="search-keywords" data-name="keywards" name="q" placeholder="Search" aria-label="Search" required="required" type="search"></label>
	<input id="submit-search" name="submit" src="/static/icon_magnify_v.svg" data-fallback="/components/assets/img/icon_magnify_v.png" alt="Submit" type="image">
				</form>
			</li>
		</ul>

	</nav>


	


	

	

	<figure itemscope="" itemtype="http://schema.org/ImageObject" class="wide-hero">
		<picture>
			
		    <img src="/static/2.png">
		</picture>
	</span></figure>

	<div role="main" class="main-wrapper">

		<section class="main-content">

			
  {% for post in posts %}

			<article class="entry-header">

	<h1 class="entry-title"><a href="{{ post.pid|get_absolute_url_post }}">
	    {{ post.title }}</a></h1>

				<div class="entry-details">

					by <a class="aside-author" href="/authors/{{ post.author }}">{{ post.author }}</a>
	</div>
					
    <div class="comment-count"> {{ post.pid|get_tags|safe }}  on {{ post.created|datetimeformat }} <br></div>
					

			

				<div class="entry-summary22">{{ post.intro|safe }}</div>

			</article>
			{% endfor %}
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			

		</section>

		

</body></html>
