{% extends "base.html" %}
{% block title %} {{ title }}{% endblock %}
  {% block keywords %} {{ keywords }}{% endblock %}


{% block content %}


                  <h1 class="title1"> {{ title }} </h1>

                      
                           <div class="byline">    By <a href="#" class="post-author">{{ author|get_author_name }}</a> under 
			    {{ pid|get_tags|safe }} <br>on 
			    {{ created|datetimeformat }} {% if really_edited %} and last updated on {{ edited|datetimeformat  }} {% endif %}
                  <br></div>
<div class="body_class">
{{ body|safe }}
</div>
		    <div id="author_bio">
			<h1> Author's Bio</h1>
		    {{ author|get_author_bio|safe }}      <img class="post-avatar" alt="{{ author }}"  {{ author|get_avatar|safe }} 

		    </div>
 

<div id="comments">
<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
(function () {
    var articleId = fyre.conv.load.makeArticleId(null);
    fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
        siteId: "375849",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
    }], function() {});
}());
</script>
<!-- END: Livefyre Embed -->
            
</div>

{% endblock %}
