{% extends "base.html" %}

  
{% block sidebar %}

<h3>Author's Bio</h3>
{{ author|get_author_bio }}

{% endblock %}

{% block content %}

  <header class="post-header">

                        <h2 class="post-title"> {{ title }}</h2>

                        <p class="post-meta">
                            By <a href="#" class="post-author">{{ author }}</a> under 
			    <a class="post-category post-category-design" href="#">CSS
			    </a> <a class="post-category post-category-pure" href="#">Pure</a> on
			    {{ created }} {% if really_edited %} and last updated on {{ edited }} {% endif %}
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
{{ body|safe }}
                        </p>
                    </div>


{% endblock %}
